/* Container */
.about-container {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 50px 0;
}

/* Left Section */
.ab-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
  width: fit-content;
  gap: 50px;
}

/* Top Left */
.ab-left-top {
  width: 325px;
  height: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ab-left-top-img {
  width: 98%;
  height: 98%;
  object-fit: cover;
  border-radius: 12px;
}

/* Bottom Left */
.ab-left-bottom {
  width: 325px;
  height: 325px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
}


/* Right Section */
.ab-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  height: 90%;
}
/* Right Section */
.ab-right-p{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 525px;
   height: 900px;
   padding: 7.5%;
}

