.about-links-container {
  width: 325px;
  min-height: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @include tablet {
    width: 650px;
  }
  @include mobile {
    width: 90%;
  }
}
.abl-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  .abl-icon-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 120px;
    width: 80%;
    .about-icon {
      height: 100px;
      width: 100px;
    }
  }
}
