.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 550px;
  height: fit-content;
  padding: $padding-m-top-bottom;
  @include tablet {
    width: 650px;
  }
  @include mobile {
    width: 90%;
  }
  .form-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    gap: $gap-l;
    margin-bottom: 50px; 
    h2,
    p {
      width: 80%;
      text-align: center;
    }
  }
}

.contact-form-fields {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  .form-name,
  .form-email,
  .form-phone,
  .form-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    gap: 5px;
    font-size: 18px;
    .cf-label {
      width: 80%;
      text-align: start;
    }
    .input-field {
      width: 80%;
      height: 40px;
      border-radius: $in-border-radius;
      border: none;
      padding: 0 5%;
    }
    .text-field {
      width: 80%;
      height: 200px;
      border-radius: $in-border-radius;
      border: none;
      padding: 15px 5%;
    }
  }
}
.form-btns {
  width: 100%;
  display: flex;
  justify-content: space-around;
  .cf-btn {
    width: 120px;
    height: 50px;
    border-radius: $in-border-radius;
  }
}
