.social-media-links-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 300px;
  height: fit-content;
  padding: $padding-m-top-bottom;
  gap: $gap-l;
  @include tablet {
    width: 650px;
  }
  @include mobile {
    width: 90%;
  }
  h3 {
    height: 10%;
    width: 100%;
    font-size: 34px;
    text-align: center;
    @include mobile {
      font-size: 26px;
    }
  }
}
.sml-list-links {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $gap-s;
    padding: $padding-s-top-bottom;
    height: fit-content;
    .contact-icon {
      width: 100px;
      height: 100px;
    }
  }
}
