.tech-icons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    gap: $gap-l;
    width: 90%;
    .tech-icons{
        display: flex;
        gap: $gap-m;
    }
}