.portfolio-card {
  width: 425px;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}
.portfolio-card img {
  height: 40%;
  width: 90%;
  object-fit: cover;
  border-radius: 12px;
}
.portfolio-card h2 {
  height: 10%;
  width: 90%;
  text-align: center;
  font-size: 26px;
}
.portfolio-card p {
  height: 35%;
  width: 90%;
  text-align: center;
  font-size: 18px;
  overflow: scroll;
}
.pc-btn-container {
  display: flex;
  justify-content: space-around;
  height: 10%;
  width: 90%;
}

.pc-btn {
  width: 100px;
  height: 50px;
  border-radius: 12px;
  font-size: 26px;
}