.about-container {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: $gap-xl;
  padding: $margin-m-top-bottom;
  @include tablet {
    flex-direction: column;
    align-items: center;
  }
}
/* Left Section */
.ab-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
  width: fit-content;
  gap: $gap-xl;
  @include tablet {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .ab-left-middle {
    width: 325px;
    height: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include animation(BottomFade, 1);
    @include tablet {
      width: 650px;
      height: 500px;
      @include animation(Fade, 1);
    }
    @include mobile {
      width: 90%;
    }
    .ab-left-middle-img {
      width: 98%;
      height: 98%;
      object-fit: cover;
      border-radius: $in-border-radius;
    }
  }
}

/* Right Section */
.ab-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  @include animation(BottomFade, 1);
  @include tablet {
    justify-content: center;
    width: 100%;
    @include animation(Fade, 1);
  }
  @include mobile {
    width: 90%;
    padding: 2.5%;
  }
  .ab-right-p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 525px;
    height: fit-content;
    padding: 5%;
    gap: $gap-l;
    @include tablet {
      width: 650px;
    }
  }
}
