.contact-page {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: $padding-m-top-bottom;
  gap: $gap-xl;
  @include tablet {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}


