.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  padding: $padding-m-top-bottom;
  gap: $gap-l;
  @include tablet {
  }
  .post-box-lottie{
    display: flex;
    height: 200px;
    width: 100%;
  }
}


