/* Container */
.portfolio-container {
  width: 100%;
  height: fit-content;
  margin: $margin-m-top-bottom;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: $gap-xl;
}
