.contact-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.contact-form-container {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 80%;
}
.contact-social-media-container {
  display: flex;
  justify-content: flex-start;
  width: 30%;
  height: 80%;
}
