.cw-container {
  width: 325px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cw-container :first-child {
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cw-icon {
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .cw-container {
    width: 650px;
  }
  .cw-container :first-child {
    height: 85%;
  }
}
@media (max-width: 767px) {
  .cw-container {
    width: 90%;
  }
}
