.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 550px;
  padding: 50px 20px;
  height: fit-content;
}
.form-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 20%;
  gap: 25px;
  padding: 0 15px 20px 15px;
}
.form-title h2 {
  width: 100%;
  font-size: 48px;
  text-align: center;
}
.form-title p {
  width: 100%;
  font-size: 18px;
  text-align: center;
}
.contact-form-fields {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.form-name,
.form-email,
.form-phone,
.form-message {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 10px;
  gap: 5px;
  font-size: 18px;
}
.cf-label {
  padding-left: 15px;
  font-size: 18px;
}
.input-field {
  width: 100%;
  height: 40px;
  border-radius: 12px;
  border: none;
  padding-left: 15px;
  font-size: 18px;
}
.text-field {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  padding: 15px;
  border: none;
  font-size: 18px;
}
.form-btns {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.cf-btn {
  width: 120px;
  height: 50px;
  border-radius: 12px;
  font-size: 26px;
}

@media (max-width: 1024px) {
  .contact-form {
    width: 650px;
  }

}
@media (max-width: 767px) {
  .contact-form {
    width: 90%;
  }
  .form-title h2 {
    font-size: 38px;
  }
  .form-title p {
    font-size: 18px;
  }
}