/* general */
.nav-container{
   width: 80%;
   height: 80%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
/* top */
.top{
   display: flex;
   align-items: center;
   justify-content: center;
}
.icon{
   font-size: 60px;
}
.dark-icon{
   color: var(--DT-First);
}
.dark-icon:hover{filter: drop-shadow(0px 5px 10px rgb(255, 255, 255));}
.light-icon{
   color: var(--LT-First);
}
.light-icon:hover{filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));}
/* bottom */
.bottom{
   display: flex;
   align-items: center;
   justify-content: center;
}
.dark-light-mode{
   display: flex;
   align-items: center;
   justify-content: center;
}
.react-switch {
   vertical-align: middle;
 }