/* general */
.nav-container {
  width: 100px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  padding: 50px 0;
  position: fixed;
}
/* top */
.nb-icon-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nb-icon-links :first-child{
 height: 80px;
}
.icon {
  font-size: 60px;
}

/* bottom */
.bottom-icon-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.bottom-icon-container img{
  width: 70px;
  height: 70px;
}
.dark-light-mode {
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-switch {
  vertical-align: middle;
}

@media (max-width: 1024px) {
  .nav-container {
    width: 650px;
    height: 100px;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    position: static;
  }
  .nb-icon-links {
    
    flex-direction: row;
  }
  .bottom-icon-container{
    justify-content: flex-end;
    flex-direction: row;
  }
  .dark-light-mode{
    transform: rotate(90deg);
  }
}
@media (max-width: 767px) {
  .nav-container {
    width: 90%;
  }
  .icon {
    font-size: 48px;
  }
  .bottom-icon-container img{
    width: 30px;
    height: 30px;
  }
}