.footer-container {
  z-index: 999;
}
.footer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
.footer-left,
.footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Left*/
.footer-left {
  width: 50%;
}
.p-footer-left {
  font-size: 18px;
  font-family: var(--modern-font);
}
/*Right*/
.footer-right {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.p-footer-right {
  font-size: 18px;
  text-align: center;
}
@media (max-width: 1024px) {
  .footer {
    height: 80px;
  }
}
@media (max-width: 768px) {
  .footer {
    justify-content: space-around;
  }
  .footer-left {
    display: none;
  }
  .footer-right {
    width: 100%;
    margin: 5px 0;
    gap: 10px;
  }
}
