* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS 1 Code", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
html {
  background-color: #727274;
}
/*Colours of light mode */
/* root light mode  */
:root {
  --black: #000000;
  --white: white;
  --light-first: #fdd041ff;
  --light-sec: #00afe8ff;
}
.div-light {
  background: rgba(233, 233, 233, 0.46);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.3px);
  -webkit-backdrop-filter: blur(11.3px);
  border: 1px solid rgba(233, 233, 233, 0.3);
}
.light-mode-viewArea {
  background-image: url("../../Portfolio/src/assets/light-background.jpeg");
}
.light-text{
  color: var(--black);
}
/*Colours of dark mode */
/* dark mode */
:root {
  --black: #000000;
  --white: white;
  --dark-first: #004270ff;
  --dark-sec: rgb(79, 48, 250);
}
.div-dark {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.dark-mode-viewArea {
  background-image: url("../../Portfolio/src/assets/dark2-background.jpeg");
}
.dark-text{
  color: var(--white);
}
/* viewable area */
.viewable-area {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* left side */
.left-side {
  width: max(200px, 10%);
  height: 95vh;
  margin: 0 0 0 1%;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* right side */
.right-side {
  width: 90%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}
