* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS 1 Code", sans-serif;
  transition: 200ms;
}
button,
a,
link {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  background-color: var(--black);
}
/*Colours of light mode */
/* root light mode  */
:root {
  --black: #000000;
  --white: white;
  --one-light: #00afe8; /* Turquoise */
  --two-light: #ff5733; /* Red/Orange */
  --secondary-light-2: #5c5c5c; /* Light Gray */
}
.div-light {
  background: rgba(233, 233, 233, 0.46);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border: 2px solid rgba(111, 111, 111, 0.544);
}
.light-mode-viewArea {
  background-image: url("../../Portfolio/src/assets/light-background.jpeg");
}
.light-text {
  color: var(--black);
}
.selected-light {
  color: var(--two-light);
}

/*Colours of dark mode */
/* dark mode */
:root {
  --black: #000000;
  --white: white;
  --one-dark: #1cb2cc; /* Dark Aqua Marine */
  --two-dark: #fc9f5b; /* A different shade */
  --secondary-dark-2: #212121; /* Dark Gray */
}
.div-dark {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.442);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border: 2px solid rgba(171, 171, 171, 0.844);
}
.dark-mode-viewArea {
  background-image: url("../../Portfolio/src/assets/dark-background.avif");
}
.dark-text {
  color: var(--white);
}
.selected-dark {
  color: var(--one-dark);
}
/*Btn styling*/
.light-btn {
  background-color: var(--two-light);
  border: none;
  transition: 500ms;
}
.light-btn:hover {
  border: 1px solid var(--black);
}
.dark-btn {
  background-color: var(--one-dark);
  border: none;
  transition: 500ms;
}
.dark-btn:hover {
  border: 1px solid var(--dark);
}

/* viewable area */
.viewable-area {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}
/* left side */
.left-side {
  width: max(200px, 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* right side */
.right-side {
  width: 90%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}
