.about-links-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.abl-icon-top{
  height: 100px;
  width: 100px;
  margin: 10px 0 10px 30px;
}
.abl-icon-bottom{
  height: 100px;
  width: 100px;
  margin: 10px 30px 10px 0;
}