.about-links-container {
  width: 325px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3%;
}
.about-links-container h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 34px;
  height: 100px;
}
.abl-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}
.abl-icon-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 120px;
  width: 80%;
}
.abl-img-linl {
  height: 120px;
  width: 120px;
}
.about-icon {
  height: 100px;
  width: 100px;
}
@media (max-width: 1024px) {
  .about-links-container {
    width: 650px;
    height: 325px;
  }
}
@media (max-width: 767px) {
  .about-links-container {
    width: 90%;
    height: 325px;
  }
  .about-links-container h3 {
    font-size: 26px;
  }
}
