/* General */
.Homepage-container {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

/* top  */
.hp-top {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 50%;
  width: 100%;
  gap: 50px;
}
/* top left */
.hp-top-left {
  width: 425px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 3%;
}

.hp-h1-text {
  font-size: 24px;
}
.hp-p-text {
  font-size: 18px;
}
/* top right */
.hp-top-right {
  width: 425px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hp-top-right-img {
  width: 98%;
  height: 98%;
  object-fit: cover;
  border-radius: 12px;
}

/* .bottom */
.hp-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 50%;
}
.hp-bottom-container {
  width: 900px;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ts-name {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hp-ts-text {
  width: 60%;
  text-align: center;
  font-size: 52px;
}
.tech-stack {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  height: 100%;
  gap: 10px;
}
.ts-top{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.ts-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.tech-stack img {
  height: 100px;
  width: 100px;
}

/* MEDIA */

@media (max-width: 1024px) {
  .Homepage-container {
    height: fit-content;
    gap: 50px;
  }
  .hp-top {
   flex-direction: column;
    align-items: center;
  }
  .hp-top-left {
    width: 650px;
    height: 300px;
  }
  .hp-top-right{
    width: 650px;
    height: 400px;
  }
  .hp-bottom-container {
    width: 650px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .ts-name {
    width: 100%;
    height: 30%;
  }
  .hp-ts-text {
    width: 100%;
  }
  .tech-stack {
    width: 100%;
    height: 70%;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .hp-top-left {
    width: 90%;
    height: 350px;
  }
  .hp-top-right{
    width: 90%;
    height: 350px;
  }
  .hp-bottom-container {
    width: 90%;
    height: 400px;
  }
  .tech-stack img {
    height: 80px;
    width: 80px;
  }
}
