/* General */
.Homepage-container {
  min-width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* top  */
.hp-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45%;
  width: 100%;
  gap: 50px;
}
/* top left */
.hp-top-left {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 3%;
}

.hp-h1-text{
  font-size: 24px;
}
.hp-p-text{
  font-size: 18px;
}
/* top right */
.hp-top-right {
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hp-top-right-img {
  width: 98%;
  height: 98%;
  border-radius: 12px;
}






/* .bottom */
.hp-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45%;
}
.hp-bottom-container{
  width: 750px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hp-bottom-techStack {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.ts-name{
   width: 20%;
   text-align: center;
}
.hp-ts-text{
  font-size: 52px;
}
.tech-stack {
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2.5%;
}
.tech-stack img {
  height: 100px;
  width: 100px;
  margin: 10px;
}

/* MEDIA */

@media (max-width: 768px) {
  
}

@media (max-width: 480px) {
  
}