/* General */
.Homepage-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  gap: 50px;
}

/* top  */
.hp-top {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 50%;
  width: 100%;
  gap: 50px;
}
/* top left */
.hp-top-left {
  width: 425px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 2%;
  gap: 20px;
}

.hp-h1-text {
  font-size: 48px;
}
.hp-p-text {
  font-size: 18px;
}
/* top right */
.hp-top-right {
  width: 425px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hp-top-right-img {
  width: 98%;
  height: 98%;
  object-fit: cover;
  border-radius: 12px;
}

/* .bottom */
.hp-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 50%;
}

/* MEDIA */

@media (max-width: 1024px) {
  .hp-top {
    flex-direction: column;
    align-items: center;
  }
  .hp-top-left {
    width: 650px;
    height: 300px;
  }
  .hp-top-right {
    width: 650px;
    height: 400px;
  }
}

@media (max-width: 767px) {
  .hp-top-left {
    width: 90%;
    height: fit-content;
    padding: 5%;
  }
  .hp-h1-text {
    font-size: 38px;
  }
  .hp-top-right {
    width: 90%;
    height: 350px;
  }
}
