/* Container */
.portfolio-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  }

/* Portfolio Card */
.portfolio-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 25px;
  padding: 5% 0;
}
